# Virtual environments
venv/
.venv/
**/venv/
**/.venv/

# Python cache files
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
.env.local
.env.production

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

terraform.tfvars
*.tfvars